@using TopicalFruitKnockoff.Models
@model Catagory

<img src=@Model.ImgUrl>
<h3>@Model.Name</h3>
<p>@Model.Desctiption</p>

@{
    foreach (Item item in Model.Items)
    {
        <p>---------------</p>
        <h4>@item.Name</h4>
        <img src=@item.ImgUrl>
        <p>@item.Description</p>
    }
}