@{
    ViewData["Title"] = "Home Page";
}
<!-- info box -->
<div class = "container"> 
    <h1>Bellevue Tropical Smoothie Cafe</h1>
    <p>10495 NE 4th Street, Bellevue, WA, 98004</p>

    <table>
        <tr>
            <td>Phone:</td>
            <td>(425) 590-9609</td>
        </tr>
        <tr>
            <td>Pickup hours:</td>
            <td>Open today</td>
        </tr>
        <tr>
            <td>Accepted Cards</td>
            <td>Mastercard, Visa, Discover</td>
        </tr>
    </table>
</div>
<!-- end info -->

<body>
<div class = "container">
    <div class ="row">
        <!-- menu -->
        <div class = "col">
            @Html.Partial("NavigationPartial")
        </div>
        <div class = "col">
            @Html.Partial("CatagoryPartial")
        </div>
        <div class = "col">
            @Html.Partial("OrderPartial")
        </div>
    </div>
</div>
</body>