@model List<Catagory>

<table>
    @{foreach (Catagory cat in Model)
    {
        <tr>
            <td class="category">
                <a href="/catagory/@cat.CatagoryId" class="text-uppercase">
                    @cat.Name
                </a>
            </td>
        </tr>
    }}
    <tr>
        <td class="category">
            <a href="/catagory/viewall">
                View All
            </a>
        </td>
    </tr>
</table>