<div class="order">
    <div class="basket">
        Order Content:
        <table>
            
        </table>
    </div>
    <div class="basket-totals">
        <table>
            <tr>
                <td>Sub-Total</td>
                <td>$0.00</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td>$0.00</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$0.00</td>
            </tr>
        </table>
    </div>
</div>