/* This is Hailey's CSS: */

*
{
    color: #555;
    font-family: "Proxima Nova A W07 Regular",sans-serif;
    font-size: 14px;
}

.container
{
    margin-left: 0;
}

.MenuHeader 
{
    font-family: "Proxima N W01 Bold",sans-serif;
    font-weight: 700;
    color: #df2a11;
    text-transform: capitalize;
}

.category
{
    border-bottom: 1px dotted #ccc;
    margin-bottom: 2px;
    padding: 7px 5px;
    line-height: 2;
    width: 190px;
}

.category a
{
    line-height: 1;
    font-size: 22px;
    font-family: "Proxima Nova W08 Reg",sans-serif;
    color: #555;  
    text-decoration: none;
    text-transform: capitalize;
}

.category a:hover
{
    color: #df2a11;
    text-decoration: none;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.MenuInfo {
    margin: 0;
    width: 680px;
}
.product-name {
    font-size: 21px;
    font-weight: 700;
    font-family: "Proxima N W01 Bold",sans-serif;
    color: black;
    text-decoration: none;
}
.product-name:hover {
    text-decoration: underline;
}

.section-head
{
    font-size: 22px;
    color: #df2a11;
}

.menu
{
    width: 500px;
}

.order
{
    border: none;
    border-bottom: 3px solid #f6aa26;
    margin-top: 0;
    font-size: 16px;
}

.basket-totals
{
    border-top: 1px dotted #ccc;
    margin-top: 10px;
}